# Agile todo list:
This is a rough framework of the tasks that we need to complete to finish DATA 607 finall assignment.

### Links:
* [The Competiton](https://www.kaggle.com/c/kkbox-music-recommendation-challenge)
* [Neo4J for faster computing](https://neo4j.com/download-thanks-desktop/?edition=desktop&flavour=osx&release=1.0.4)
* [Neo4J for faster recomenders](https://neo4j.com/developer/guide-build-a-recommendation-engine/)
* [Collaberative filtering systems](https://blog.dominodatalab.com/recommender-systems-collaborative-filtering/)
* [Great blog post of matrix factorization for recommender systems](http://www.benfrederickson.com/matrix-factorization/)
* [Another great post on distance metrics](http://www.benfrederickson.com/distance-metrics/)

### Divison of tasks 
Please write your name under the tasks that you think you would be good for. Parrell tasks will be marked.

### New tasks:
Please insert any new task as you see fit.

# Importing the Data 
(This must be done locally because github can't contain large files)

### Importing libraries

In [3]:
import pandas as pd
import os

In [8]:
path = os.path.expanduser('~/Data_607_Final_Project') # Your file must have the same name.
os.chdir(path) # Change this to your working directory

## Loading the data:
This has to be done locally. Your file has to be the exact name as the obove folder.

In [10]:
trainDF = pd.read_csv('train.csv')
songInfoDF = pd.read_csv('song_extra_info.csv')
songsDF = pd.read_csv('songs.csv')
membersDF = pd.read_csv('members.csv')

In [11]:
songInfoDF.head()

                                        song_id             name          isrc
0  LP7pLJoJFBvyuUwvu+oLzjT+bI+UeBPURCecJsX1jjs=               我們  TWUM71200043
1  ClazTFnk6r0Bnuie44bocdNMM3rdlrq0bCGAsGUWcHE=  Let Me Love You  QMZSY1600015
2  u2ja/bZE3zhCGxvbbOB3zOoUjx27u40cf5g09UXMoKQ=              原諒我  TWA530887303
3  92Fqsy0+p6+RHe2EoLKjHahORHR1Kq1TBJoClW9v+Ts=          Classic  USSM11301446
4  0QFmz/+rJy1Q56C1DuYqT9hKKqi5TUqx0sN0IwvoHrw=             愛投羅網  TWA471306001

In [12]:
trainDF.head()

,msno,song_id,source_system_tab,source_screen_name,source_type,target
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1
2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,my library,Local playlist more,local-playlist,1
3,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,2A87tzfnJTSWqD7gIZHisolhe4DMdzkbd6LzO1KHjNs=,my library,Local playlist more,local-playlist,1
4,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,3qm6XTZ6MOCU11x8FIVbAGH5l5uMkT3/ZalWG1oo2Gc=,explore,Explore,online-playlist,1

In [13]:
membersDF.head()

,msno,city,bd,gender,registered_via,registration_init_time,expiration_date
0,XQxgAYj3klVKjR3oxPPXYYFp4soD4TuBghkhMTD4oTw=,1,0,NaN,7,20110820,20170920
1,UizsfmJb9mV54qE9hCYyU07Va97c0lCRLEQX3ae+ztM=,1,0,NaN,7,20150628,20170622
2,D8nEhsIOBSoE6VthTaqDX8U6lqjJ7dLdr72mOyLya2A=,1,0,NaN,4,20160411,20170712
3,mCuD+tZ1hERA/o5GPqk38e041J8ZsBaLcu7nGoIIvhI=,1,0,NaN,9,20150906,20150907
4,q4HRBfVSssAFS9iRfxWrohxuk9kCYMKjHOEagUMV6rQ=,1,0,NaN,4,20170126,20170613

In [14]:
songsDF.head()

,song_id,song_length,genre_ids,artist_name,composer,lyricist,language
0,CXoTN1eb7AI+DntdU1vbcwGRV4SCIDxZu+YD8JP8r4E=,247640,465,張信哲 (Jeff Chang),董貞,何啟弘,3.0
1,o0kFgae9QtnYgRkVPqLJwa05zIhRlUjfF7O1tDw0ZDU=,197328,444,BLACKPINK,TEDDY| FUTURE BOUNCE| Bekuh BOOM,TEDDY,31.0
2,DwVvVurfpuz+XPuFvucclVQEyPqcpUkHR0ne1RQzPs0=,231781,465,SUPER JUNIOR,NaN,NaN,31.0
3,dKMBWoZyScdxSkihKG+Vf47nc18N9q4m58+b4e7dSSE=,273554,465,S.H.E,湯小康,徐世珍,3.0
4,W3bqWd3T+VeHFzHAUfARgW9AvVRaF4N5Yzm4Mr6Eo/o=,140329,726,貴族精選,Traditional,Traditional,52.0

## Task:

Make sure all features are in the correct format, i.e. `song_id` is `int` and `language` is `factor`.

## Task:
Define a function to reference different IDs. By this I mean something similar to SQL queries in but preferably in Pandas

James, I think you'd be perfect for this. Let me know if I can help you out with pandas.

## Task:
Figure out how to deal with Asian names

## Task:
Find and list in this cell the exact definitions of isrc on the `songInfoDF`

## Task: 
Decide if we should merge extra song info or not.

**Kai will look into this**

# Machiene Learning Research:
Tasks associated with more ML theory:

## Task:
Feature engineering ideas (please add to this list and maybe create a cell below that actually achieves the feature engineering):

1. Make years a dacades dummy/factor variable (e.g., 60's vs 70's vs 90's etc.)
2.

## Task:
Make a train test split. Say 70% train, 30% test.

## Task: 
Research how to